<div class="jumbotron">
  <h1 class="h2">If there is something I want to change, what can I do?</h1>
</div>

<div class="row body">
  <div class="col-lg-4">
    <h4>Crucial</h4>
    <div class="list-group">
      <a class="list-group-item list-group-item-action" href="#">Educate yourself</a>
      <a class="list-group-item list-group-item-action" href="#">Make sure you're safe</a>
      <a class="list-group-item list-group-item-action" href="#">Create a concrete goal</a>
    </div>
  </div>
  <div class="col-lg-12">
    <p class="lead">Remember to talk to an adult you trust about whatever advocacy plans you make!</p>
  </div>
  <div class="col-lg-4">
    <h4>Optional</h4>
    <div class="list-group">
      <a class="list-group-item list-group-item-action" href="#">Find your people</a>
      <a class="list-group-item list-group-item-action" href="#">Put your message out there</a>
      <a class="list-group-item list-group-item-action" href="#">Contact decision makers</a>
      <a class="list-group-item list-group-item-action" href="#">Organize a protest</a>
      <a class="list-group-item list-group-item-action" href="#">Social Media 101</a>
      <a class="list-group-item list-group-item-action" href="#">Mainstrem Media 101</a>
    </div>
  </div>
</div>