
    <div class="col-12 footer">
      <div class="row">
        <div class="col-lg-4">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{{ site.baseurl }}/key-terms.html">Key Terms</a></li>
            <li class="list-inline-item"><a href="{{ site.baseurl }}/resources.html">Further Resources</a></li>
            <li class="list-inline-item"><a href="{{ site.baseurl }}/sources.html">Sources</a></li>
          </ul>
        </div>
        <div class="col-lg-8">
          <p><small>This toolkit is intended to provide you with basic information about advocacy. It is important to remember that this guide does not provide legal advice.  If you need advice about a specific situation, please consult with an adult you trust or, if you are facing a legal issue, please contact a lawyer. You can find a list of legal resources to help you <a href="/resources.html#1-need-help-with-a-legal-question" title="Need Help with a Legal Question?" >here</a>.</small></p>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ site.baseurl }}/assets/js/vendor/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="{{ site.baseurl }}/assets/main.js"></script>
  </body>
</html>
