  <div class="jumbotron">
    <h1 class="h2">What does advocacy mean?</h1>
    <p class="lead">Advocacy is when we speak up for our rights.</p>
  </div>

  <div class="row body">
    <div class="col">
      <p>Advocates work to:</p>
      <ul>
        <li>Make sure everyone gets the same chances to work, eat, sleep, and live their lives.</li>
        <li>Make sure everyone feels safe.</li>
        <li>Make sure everyone is healthy.</li>
        <li>Make sure everyone is heard.</li>
        <li>Make sure that our land stays clean and safe.</li>
        <li>Make sure that everyone has the same information.</li>
      </ul>

      <p>Anyone can be an advocate for themselves or for someone else.</p>

      <p>You just need to make sure you have the right information before you get started. That’s where this toolkit, and other ways of educating yourself, comes in!</p>

      <p>Some people's jobs are to be an advocate for someone else.</p>

      <p>You probably know lots of people in your community who are advocates for your rights like: youth workers, community centre staff, teachers, principals, doctors and nurses, chiefs, and lawyers. </p>

      <blockquote class="blockquote">
        <p class="mb-0">My friends, how desperately we need to be loved and to love. With it we are creative. With it, we march tirelessly. With it, and with it alone, we are able to sacrifice for others.</p>
        <footer class="blockquote-footer">Chief Dan George, <cite title="First Nations Chief">First Nations Chief</cite></footer>
      </blockquote>
    </div>
  </div>
