<div class="jumbotron home-page intro">
  <div class="title">
    <h1 class="display-3">{{ page.title }}</h1>
    <p class="lead"><strong>{{ page.subtitle }}</strong></p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-10">
    <p class="intro-lead lead">Is there something you want to change? <a href="/key-terms.html#what-does-advocacy-mean">What does advocacy mean anyway</a>? This is a guide to help you be the change and defend your rights.
  </p>
  </div>
</div>
