<li class="nav-item dropdown">
  <a href="{{ '#'name | base_url }}" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ collection.title }}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% assign pages = site[name] | sort: "position" %}
    {% for page in pages %}
      {% if page.display_title %}
        <a class="dropdown-item" href="{{ page.url | base_url }}">{{ page.display_title }}</a>
      {% else %}
        <a class="dropdown-item" href="{{ page.url | base_url }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</li>