<div class="jumbotron home-page people-places">
  <div class="title">
    <h2 class="h1">I want to change something&hellip;</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-10">
    {% assign items = site.people-places | sort: "position" %}
    <div class="row">
      {% include home-page-cards.html %}
    </div>
    <p class="pt-3">Checkout <a href="/strategy/contact-decision-makers.html">Contact the Decision Makers</a> for tips on how to approach the leaders and allies in each of these places.</p>
  </div>
</div>
