<div class="jumbotron mt-4">
  <h1 class="h4">Featured Stories</h1>
</div>
<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="row">
        <div class="col-lg-6">
          <div class="list-group">
            {% assign items = site.stories | sort: "position" %}
            {% for item in items %}
              <a class="list-group-item list-group-item-action" href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>