<div class="jumbotron home-page strategy">
  <div class="title">
    <h2 class="h1 display-3">If there is something I want to change, what can I do?</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-10">
    {% assign pages = site.strategy | sort: "position" %}
    {% assign items = pages | slice: 0, 3 %}

    <h4 class="mb-3">Crucial Actions</h4>
    <div class="row justify-content-center">
      {% include home-page-cards.html %}
    </div>

    <div class="row justify-content-center">
      <div class="col-md-7 my-4">
        <div class="card border-primary my-4 home-page-callout shadow">
          <div class="card-body">
            <p class="mb-0 lead">Remember to talk to an adult you trust about whatever advocacy plans you make!</p>
          </div>
        </div>
      </div>
    </div>

    {% assign count = pages | size | minus: 1 %}
    {% assign items = pages | slice: 3, count %}

    <h4 class="mb-3">Further Actions You Could Take</h4>
    <div class="row">
      {% include home-page-cards.html %}
    </div>
  </div>
</div>