{% include head.html %}
<div class="row body">
  <div class="col">
    <h2>Canada</h2>
    <p>Three branches work together to govern Canada: the Executive, Legislative, and Judicial branches.</p>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">What does the Canadian government do?</h5>
        <p>The Canadian (or federal government) is in charge of things like: what counts as a crime or not; national security; Indigenous issues; and citizenship and immigration issues.</p>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-8">
        <div class="card">
          <img src="http://placekitten.com/780/1000" alt="Placeholder" class="card-img-top">
          <div class="card-body"><a href="" class="btn btn-primary">Download PDF</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}