{% include head.html %}
<div class="row body">
  <div class="col">
    <h2>Community</h2>
    <p>Remember that every adult who works in your community has a duty to report to authorities if they suspect that you’re being harmed. If you are in trouble, any community worker is legally obligated to help you.</p>
    <p>There could be youth leaders in your community already! It might help to know who those leaders are when thinking about how to make change.</p>
    <div class="row justify-content-around">
      <div class="col-md-8">
        <div class="card">
          <img src="http://placekitten.com/780/1000" alt="Placeholder" class="card-img-top">
          <div class="card-body"><a href="" class="btn btn-primary">Download PDF</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}