{% include head.html %}
<div class="row body">
  <div class="col">
    <h2>Indigenous Schools</h2>
    <ul class="list-unstyled">
      <li>
        <h4>Students</h4>
      </li>
      <li>
        <h4>Teachers</h4>
      </li>
      <li>
        <h4>Indigenous Leadership Structures</h4>
        <p>A growing number of schools are managed by Indigenous communities and nations themselves.</p>
        <p>Here are just a few examples:</p>
        <ul>
          <li>British Columbia has a First Nations Education Steering Committee that has board-like decisionmaking power for almost all the First Nations schools in British Columbia: <a href="http://www.fnesc.ca/">fnesc.ca</a></li>
          <li>The Innu in Labrador have their own school board: <a href="http://www.innueducation.ca/">innueducation.ca</a></li>
          <li>The James Bay Cree in Quebec also have their own school board: <a href="https://www.cscree.qc.ca/en/our-organization">cscree.qc.ca/en/our-organization</a></li>
        </ul>
      </li>
      <li>
        <h4>Federal Government</h4>
      </li>
    </ul>
    <div class="col-md-8">
      <div class="card">
        <img src="http://placekitten.com/780/1000" alt="Placeholder" class="card-img-top">
        <div class="card-body"><a href="" class="btn btn-primary">Download PDF</a></div>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}