{% include head.html %}
<div class="row body">
  <div class="col">
    <h4>Non-Indigenous Schools</h4>
    <ul class="list-unstyled">
      <li><h4>Students</h4></li>
      <li><h4>Teachers</h4></li>
      <li><h4>Principal</h4></li>
      <li>
        <h4>School Board</h4>
          <p>(Also called: School district, School division, School council, District education council, Divisional education council)</p>
          <p>School boards make decisions for the group of schools within its area. (For example: they implement the curriculum, make hiring and firing decisions, and decide when and how money should be spent on schools.)</p>
        <ul>
          <li>
            <h4>Provincial/Territorial Government</h4>
          </li>
          <li>
            <h4>Superintendent</h4>
            <p>The head of a school board is called the superintendent, and the members are called trustees or members.</p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>In some remote areas, there are no school boards, and schools are operated directly by the government.</p>
            <p>Private schools may or may not have school boards. If you go to a private school, you might want to look on your school’s website, or ask someone at your school, whether there is a school board.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>For a complete list of the school boards in each province and territory check out our Resources page.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <img src="http://placekitten.com/780/1000" alt="Placeholder" class="card-img-top">
        <div class="card-body"><a href="" class="btn btn-primary">Download PDF</a></div>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}