{% include head.html %}
<div class="row body">
  <div class="col">
    <h2>City - Town - Region</h2>
    <h3>What does a municipal or regional government do?</h3>
    <p>Municipal or regional governments are responsible for policies directly related to your city, town, or county.</p>
    <div class="row justify-content-around">
      <div class="col-md-8">
        <div class="card">
          <img src="http://placekitten.com/780/1000" alt="Placeholder" class="card-img-top">
          <div class="card-body"><a href="" class="btn btn-primary">Download PDF</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}