{% include head.html %}
<div class="row body">
  <div class="col">
    <h2>Province/Territory</h2>
    <p>Provincial and territorial governments take care of the day-to-day running of the province/territory.</p>
    <div class="row justify-content-around">
      <div class="col-md-8">
        <div class="card">
          <img src="http://placekitten.com/780/1000" alt="Placeholder" class="card-img-top">
          <div class="card-body"><a href="" class="btn btn-primary">Download PDF</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}