{% include head.html %}
<div class="row body">
    <div class="col"><h2>World</h2>
      <ul>
        <li>
          <h4>You</h4>
        </li>
        <li>
          <h4>Canadian Government</h4>
          <p>When people want to convince another country to do something, they might try to get Canada’s government to do the convincing. For example, if another country is treating their citizens unfairly, you could call or write to Members of Cabinet, Members of Parliament, or even the Prime Minister, to express your outrage about the situation. With enough letters or phone calls, our government might feel that it’s important enough to act!</p>
        </li>
        <li>
          <h4>United Nations</h4>
          <p>The United Nations is an organization of 193 countries, with the mission to maintain international peace and security. While the UN can’t make laws that the whole world has to follow, it does monitor human rights issues around the world, and its members express their opinions on different issues happening around the world too. Sometimes, that kind of international pressure can create change.</p>
        </li>
      </ul>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">International Treaties</h5>
          <p> Treaties are documents that countries can voluntarily sign. They are not laws. But once a country has signed a treaty, it's expected to follow the treaty's rules.</p>
          <p>For example, the United Nations has a treaty called the Convention on the Rights of the Child. This treaty sets out rules to ensure the protection of all children, without discrimination. Almost all members of the UN have agreed to follow the standards established  in the Convention on the Rights of the Child.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Corporations</h5>
          <p>Does the situation that you’re concerned about involve a company operating in another country? Maybe that company also has a presence in Canada. Companies often respond to public pressure about something that it’s doing in one part of the world from citizens of a whole different country where it also does business. Maybe you just found out that the company that makes your favourite jeans doesn’t pay its workers very well. The workers might be halfway across the world, but the company probably has offices in Canada.</p>
        </div>
    </div>
  </div>
</div>
{% include foot.html %}