{% include head.html %}
<div class="row body">
  <div class="col">
    <h2>Who is in charge of the police?</h2>
    <h3>Are you in trouble with the police?</h3>
    <p> Check out our Resources page to learn about:</p>
    <ul>
      <li>free confidential legal advice for youth under 18</li>
      <li>your rights with the police</li>
    </ul>
    <div class="row justify-content-around">
      <div class="col-md-8">
        <div class="card">
          <img src="http://placekitten.com/780/1000" alt="Placeholder" class="card-img-top">
          <div class="card-body"><a href="" class="btn btn-primary">Download PDF</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}