@font-face {
  font-family: 'permanent_markerregular';
  src: url('/assets/fonts/permanent-marker/PermanentMarker-webfont.eot');
  src: url('/assets/fonts/permanent-marker/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/permanent-marker/PermanentMarker-webfont.woff') format('woff'),
       url('/assets/fonts/permanent-marker/PermanentMarker-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}