
.jumbotron.home-page {
  height: 500px;
  position: relative;
  margin-bottom: 3rem;

  .title {
    color: theme-color("header-color");
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(theme-color("primary"), 0.8);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 1em;

    h1, h2, h3 {
      letter-spacing: -.5px;
      font-family: $marker;
    }

    .display-3 {
      line-height: 1;
    }

    p {
      letter-spacing: 1px;
      font-size: 1.4rem;
      font-family: $marker;
    }
  }
}

@include media-breakpoint-down(sm) {
  .jumbotron.home-page {
    max-height: 250px;

    .title {
      top: 0;
      border-radius: $border-radius;
    }

    .display-3 {
      font-size: 2.5rem;
    }
  }
}

.jumbotron.intro {
  background: url(/assets/img/home-page-rally.jpg);
  background-position: bottom;
  background-size: cover;
}

.jumbotron.people-places {
  background: url(/assets/img/home-page-hands-up.jpg);
  background-position: bottom;
  background-size: cover;
}

.jumbotron.strategy {
  background: url(/assets/img/home-page-students.jpg);
  background-position: bottom;
  background-size: cover;
}

.jumbotron.stories {
  background: url(/assets/img/home-page-microphones.jpg);
  background-position: bottom;
  background-size: cover;
}

.story.image {
  max-width: 400px;
  padding-right: 3rem
}

.home-page-card {
  border-color: $orange;
  border-width: 4px;
  height: 150px;
  text-align: center;

  a {

  }

  .card-body {
    padding: 0;
  }

  a .card-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    padding: 1rem;
  }

  a:hover {
    text-decoration: none;
  }
}

.home-page-callout {
  border-width: 4px;
}