{% include head.html %}
<div class="h2">{{ page.title }}</div>
<div class="row justify-content-around">
  <div class="col-md-12">
  {{ page.content }}
  {% for aside in page.asides %}
    <aside>
      <h3>{{ aside.title }}</h3>
      {{ aside.content }}
    </aside>
  {% endfor %}
  </div>
  <div class="row justify-content-around">
    <div class="col-md-8">
      <div class="card">
        <img src="{{ page.image | absolute_url }}" alt="{{ page.title }}" class="card-img-top">
        <div class="card-body">
          <a href="{{ page.pdf | absolute_url }}" class="btn btn-primary">View as a PDF</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}