{% include head.html %}
<div class="jumbotron page-title">
  <h1 class="display-3">{{ page.title }}</h1>
</div>
<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-md-8">
        {{ content }}
        <ul class="nav nav-pills flex-column flex-sm-row mt-3">
          {% assign items = site.schools | sort: "position" %}
          {% for item in items %}
            {% if item.position == 1 %}
              <li class="nav-item flex-sm-fill text-sm-center mb-2"><a class="nav-link active" data-toggle="pill" href="#{{ item.reference }}">{{ item.title }}</a></li>
            {% else %}
              <li class="nav-item flex-sm-fill text-sm-center"><a class="nav-link" data-toggle="pill" href="#{{ item.reference }}">{{ item.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <div class="tab-content">
          {% assign items = site.schools | sort: "position" %}
          {% for item in items %}
            {% if item.position == 1 %}
              <div id="{{item.reference}}" class="tab-pane fade show active" role="tabpanel" aria-labelledby="{{ item.reference }}-tab">
                {% include school-type.html %}
              </div>
            {% else %}
              <div id="{{ item.reference }}" class="tab-pane fade" role="tabpanel" aria-labelledby="{{ item.reference }}-tab">
                {% include school-type.html %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4 related-links">
        {% if page.aside %}
          <aside class="card mb-2">
            <div class="card-body">
              {{ page.aside | markdownify }}
            </div>
          </aside>
        {% endif %}
        {% if page.aside_links %}
          <aside class="card">
            <div class="card-body">
              {{ page.aside_links | markdownify }}
            </div>
          </aside>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% include foot.html %}
